In [ ]:
Enumerate:


for ile non-scalar yapılar içerisinde dolaşırken ya elemanları ya da indexleri üzerinde dolanmıştık, ama neden ikisi de aynı anda olmasın?


Variable Unpacking konusunda bir tuple, liste gibi yapıların değerlerini birden çok değişkene bir seferde eşitlemeyi görmüştük.


Bunun aynısını iterasyonda da yapabiliriz.

In [1]:
l = [(1, 2), (10, 20)]

In [2]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [3]:
type(l)

list

In [4]:
type(l[0])

tuple

In [5]:
for e in l:
    a, b = e
    print(a)
    print(b)
    print("******************")

1
2
******************
10
20
******************

In [6]:
#aynı şekilde unpackingi en başta da yapabiliriz.

In [8]:
for a, b in l:
    print("Tuple ilk elemanı:", a)
    print("Tuple ilk elemanı:", b)
    print("************")

Tuple ilk elemanı: 1
Tuple ilk elemanı: 2
************
Tuple ilk elemanı: 10
Tuple ilk elemanı: 20
************

### ENUMERATE

In [9]:
# bize eleman ve index döner

In [10]:
adlar = ["Tyler", "Blake", "Cory", "Cameron"]

In [11]:
for e in adlar:
    print(e)

Tyler
Blake
Cory
Cameron

In [12]:
for i,e in enumerate(adlar):
    print("{0} indexindeki eleman: {1}'dır.".format(i, e))

0 indexindeki eleman: Tyler'dır.
1 indexindeki eleman: Blake'dır.
2 indexindeki eleman: Cory'dır.
3 indexindeki eleman: Cameron'dır.

In [13]:
#ancak buradaki mantık index değil bir sayıdan başlatarak onu bir arttırarak değer-sayı eşlemesi yapar.

In [14]:
# hangi sayıdan başlayacağını biz seçebiliriz.

In [15]:
# örnek:

In [19]:
for i,e in enumerate(adlar, start = 1):
    print("{0}. eleman: {1}'dır.".format(i, e))

1. eleman: Tyler'dır.
2. eleman: Blake'dır.
3. eleman: Cory'dır.
4. eleman: Cameron'dır.

### ZIP()

In [20]:
# 2 listemiz olduğunu düşünelim sıralı elemanları arasında bunların elemanlarını yapıştırır ve tuple olarak verir onda iterasyon yaparız artık.

In [21]:
# tek başına anlamsız ifadeleri birleştirerek anlamlı ifadeler ortaya çıakrır.

In [22]:
ogrenciler = ["Ogrenci_1", "Ogrenci_2", "Ogrenci_3"]

In [24]:
notlar = [90, 80, 72]

In [32]:
for i,e in zip(ogrenciler, notlar): # tuple döndürüyor ve biz onu eşitliyoruz.<
    print("{0}. Öğrencisinin notu {1}'dır.'".format(i, e))

Ogrenci_1. Öğrencisinin notu 90'dır.'
Ogrenci_2. Öğrencisinin notu 80'dır.'
Ogrenci_3. Öğrencisinin notu 72'dır.'

In [27]:
# bu olmasaydı eğer şu işlemi şöyle yapardık.

In [31]:
for i in range(0, len(ogrenciler)):
    x = ogrenciler[i]
    y = notlar[i]
    print("{0}. öğrencinin notu {1}'dir.".format(x, y))

Ogrenci_1. öğrencinin notu 90'dir.
Ogrenci_2. öğrencinin notu 80'dir.
Ogrenci_3. öğrencinin notu 72'dir.

In [34]:
#kar hesabı:
satış = [3500.00, 76300.00, 67200.00]
alış = [56700.00, 21900.00, 12100.00]

for s, a in zip(satış, alış):
    net = s - a
    
if (net > 0):
    print("Kardayız. Karımız: {0} TL.".format(net))
elif(net < 0):
    print("Zarardayız. Zararımız: {0} TL.".format(net))
elif(net == 0):
    print("Ne karda ne zarardayız 0'a 0'ız.")
else:
    print("Hata!")

Kardayız. Karımız: 55100.0 TL.

In [35]:
# bir de bunu zipsiz yapalım.

In [38]:
#kar hesabı:
satış = [3500.00, 76300.00, 67200.00]
alış = [56700.00, 21900.00, 12100.00]

for index in range(0, 3):
    net = satış[index] - alış[index]
    
    print(net)
    
print(net)

-53200.0
54400.0
55100.0
55100.0

In [39]:
# diyelim ki bir dictionary yapmak istiyoruz ama değerler önceden çeşitli listelere dağılmış buun şöyle yaparız:

In [43]:
keys = ["isim", "ülke", "ulke", "is"]

In [44]:
values = ["Denis", "Walker", "Turkey", "data scientist"]

In [46]:
for k, v in zip(keys, values):
    print("{0} <==> {1}".format(k, v)) #bunu dictionary'e dökeceğiz

isim <==> Denis
ülke <==> Walker
ulke <==> Turkey
is <==> data scientist

In [50]:
d = {}
for k, v in zip(keys, values):
    d[k] = v

In [51]:
d

{'isim': 'Denis', 'ülke': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}